.Rproj.user
.Rhistory
.RData
.Ruserdata
cansensus_cache
CA11_unmatched_vectors.csv 
CA11_vectors.csv 
Oakdata1.csv 
Oakdata21.csv 
Oakdata22.csv 
Oakdata23.csv 
Oakdata24.csv 
Oakdata25.csv 
Oakdata2a.csv 
census_data1.csv 
census_data2a.csv 
census_data3.csv 
census_data4.csv 
census_data5.csv 
censusdata16.csv 
censusdata21.csv  
matched_variables.csv 
matched_variables.xlsx 
merged_dataset.csv 
"~$matched_variables.xlsx"
.Renviron

